# --- Basura de PyInstaller ---
build/
dist/
*.spec

# --- Archivos temporales de Python ---
__pycache__/
*.py[cod]

# --- Entorno Virtual ---
env/
venv/
.env

# --- Archivos de Sistema ---
.vscode/
.idea/
Thumbs.db
.DS_Store

# --- Base de Datos y Archivos Locales ---
*.db
data/*.db
data/barcodes/
*.log
*.pdf

# --- Salida y Ejecutables (LO NUEVO) ---
# Esto ignora toda la carpeta Output y cualquier archivo .exe
Output/
*.exe